#home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../img/devs/devweb-course.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

#home h2 {
  color: #fff;
  font-size: 3.4rem;
  letter-spacing: 1px;
  width: 50%;
}

#heberger {
  padding: 8vw 1vw;
}

.header-card img {
  object-fit: cover;
  max-height: 500px;
}

@media screen and (max-width: 789px) {
  #heberger {
    padding: 8vw 5vw;
  }
}
